	<!--     <select id="selectkind" class="selectpicker">
		   <option>所有项目</option>
		  <option>已评分</option>
		  <option>未评分</option>
		
		</select>-->
		<div>
		<table id="projectTable" class="table table-bordered">
				  <caption><h3>大创项目信息</h3></caption>
				  <thead>
				    <tr>
				      <th>项目名称</th>
				      <th>学校</th>
				      <th>参与者</th>
				      <th>指导老师</th>
				      <th>所属大类</th>
				      <th>所属小类</th>
				      <th>评分</th>
				      <th>附件</th>
				    </tr>
				  </thead>
				  <tbody>
				    <tr  v-for="project in projectList">
				      <td>{{project.title}}</td>
				      <td>{{project.school}}</td>
				      <td>{{project.participators}}</td>
				      <td>{{project.teacher}}</td>
				      <td>{{project.mainCategory}}</td>
				      <td>{{project.subCategory}}</td>
				      <td>{{project.score}}</td>
				      <td><a v-bind:href="project.attachmentId">附件</a></td>
				    </tr>
				  </tbody>
			</table>
		</div>