<div>
	<div class="row">
		<form class="form-horizontal" role="form" disabled="true">
		
			<!-- 用户名 -->
			<div class="form-group form-group-small">
				<label for="fullname" class="col-sm-2 control-label">用户名</label>
				<div class="col-sm-10 col-md-4">
					<input type="text" class="form-control" id="fullname"  placeholder="无" readonly="readonly" />
				</div>
			</div>

			<!-- 邮箱 -->
			<div class="form-group form-group-small">
				<label for="email" class="col-sm-2 control-label">邮箱</label>
				<div class="col-sm-10 col-md-4">
					<input type="text" class="form-control" id="email" name="school"  placeholder="无" readonly="readonly" />
				</div>
			</div>
			
			<!-- 电话号码 -->
			<div class="form-group form-group-small">
				<label for="tel" class="col-sm-2 control-label">电话号码</label>
				<div class="col-md-4">
					<input type="text" class="form-control" id="tel" placeholder="无" readonly="readonly"/>
				</div>
			</div>
			
			<!-- 账户类型 -->
			<div class="form-group form-group-small">
				<label for="accountType" class="col-sm-2 control-label">账户类型</label>
				<div class="col-sm-10 col-md-4">
					<input type="text" class="form-control" id="accountType" placeholder="无" readonly="readonly" />
				</div>
			</div>
			
			<!-- 学校 -->
			<!-- 账户类型 -->
			<div class="form-group form-group-small">
				<label for="school" class="col-sm-2 control-label">学校</label>
				<div class="col-sm-10 col-md-4">
					<input type="text" class="form-control" id="school" placeholder="无" readonly="readonly" />
				</div>
			</div>
		</form>
	</div>
</div>
