<div>
	 <div class="form-group col-lg-offset-5">
	  	<label for="fullname">姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
	  	<input type="text" class="form-control" name="username" id="username"  value="" placeholder="您的真实姓名">	
	  </div>
	  
	  <br></br>
	  <br></br>
	  <div class="form-group col-lg-offset-5">
	  	<label for="password">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
	  	<input type="password" class="form-control" name="password" id="password" value="" placeholder="">
	  </div>
	  
	  <br></br>
	  <br></br>
	  <div class="form-group col-lg-offset-5">
	  	<label for="password">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
	  	<input type="password" class="form-control" name="password" id="password" value="" placeholder="">
	  </div>
	  
	  <br></br>
	  <br></br>
	  <div class="form-group col-lg-offset-5">
	  	<label for="password">电&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;话</label>
	  	<input type="password" class="form-control" name="password" id="password" value="" placeholder="">
	  </div>
</div>