





<!DOCTYPE html>

<html lang="en">
<head>

<meta charset="utf-8" />
<!--  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> -->
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />


<meta name="renderer" content="webkit" />
<title>后台管理</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta name="keywords" content="" />
<meta name="author" content="" />

<link href="/dcnh/css/base.css" rel="stylesheet"></link>
<link href="/dcnh/css/dashboard.css" rel="stylesheet"></link>
<link href="/dcnh/css/bootstrap-theme.min.css" rel="stylesheet"></link>
<link href="/dcnh/css/bootstrap.min.css" rel="stylesheet"></link>
<script type='text/javascript' src="/dcnh/js/getcookie.js"></script>
<script type='text/javascript' src="/dcnh/js/jquery-3.1.0.min.js"></script>
<script type='text/javascript' src="/dcnh/js/vue.js"></script>
<script type='text/javascript' src="/dcnh/js/accountManage.js"></script>
<script type="text/javascript" src="/dcnh/js/bootstrap.min.js"></script>
<script type="text/javascript" src="/dcnh/js/fileUpload.js"></script>
<script type="text/javascript" src="/dcnh/js/fileinput/fileinput.js"></script>
<script src="/dcnh/js/fileinput/locales/zh.js"></script>
<script src="/dcnh/js/projectmanagement.js"></script>
<script src="/dcnh/js/schooladmin/schooladmin.js"></script>
<script type='text/javascript' src="/dcnh/js/superadmin/projectManage.js"></script>
<script src="/dcnh/js/jquery.cookie.js"></script>
<script src="/dcnh/js/setuserinfopage.js"></script>
<style type="text/css">
#contains {
	background-color: white;
}

#add_btn_container {
	padding-top: 20px;
	padding-bottom: 20px;
	background-color: #FAFAFA;
}

#add_prjct_container {
	margin-top: 50px;
}

.div_prjct_participators {
	margin-top: 10px;
	margin-bottom: 10px;
}
</style>
</head>

<body onload="onload()">
	<div id="basecontent">


		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/dcnh"><b>辽宁省创新创业网</b></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">

						<li><a id="userName" href="#"></a></li>
						<li><a href="/dcnh/logout">退出</a></li>
					</ul>
					<!-- <form class="navbar-form navbar-right">
		            <input type="text" class="form-control" placeholder="Search...">
		          </form> -->
				</div>
			</div>
		</div>
		<!-- </div>  -->


		<!-- </a> -->




		<!-- <div class="container-fluid main-container"> -->

		<div class="container-fluid ">
			<div class="row ">
				<div class="col-sm-3 col-md-2 sidebar">


					<div class="menu-list" style="height: 820px">
						<a href="#" onclick="getaddProjectPage()" class="menu-button-middle"> <span class="glyphicon glyphicon-th-large ">&nbsp;上传项目</span>
						</a> <a href="#" onclick="school_showProjectpage()" class="menu-button-middle"> <span class="glyphicon glyphicon-th-large">&nbsp;查看项目</span>
						</a> <a href="#" onclick="setUserinfoPage()" class="menu-button-middle"><span class="glyphicon glyphicon glyphicon-user">&nbsp;个人信息</span></a>
					</div>
				</div>
				<div id="contains" class="col-sm-9 col-md-10 sidebar">
					<div id="add_btn_container">
						<button type="button" id="addPrjctBtn" class="btn btn-success" onclick="addPrjct();">添加项目</button>
					</div>

					<div id="add_prjct_container"></div>
				</div>

			</div>
		</div>
	</div>
	<!-- <div id="basecontent">	 -->
	<div class="modal fade" id="alertModal">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">
						<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
					</button>
					<h4 class="modal-title">提示</h4>
				</div>

				<div class="modal-body">
					<p id="alertContent">One fine body&hellip;</p>
				</div>
			</div>
		</div>
	</div>
</body>
<script>
	function onload(){
		$.ajax({
			url : '/dcnh/getuserinfo',
			type : 'get',
			dataType : 'json',
			success : function(data) {
				$("#userName").html(data.userName + " 欢迎您");
				$.cookie("school",data.school);
				$.cookie("userName",data.userName);
			}
		});
	}
	
	var category;

	function setAddPrjctPage() {
		$.ajax({
			url : '/dcnh/getaddprjctpage',
			type : 'get',
			dataType : 'text',
			success : function(data) {		
				$("#add_prjct_container").html(data);
				var school  = $.cookie("school");
				$("#school").val(school);
				//初始化上传文件
				$("#attachement_file").fileinput({
					language : 'zh',
					allowedFileExtensions : [ "zip", "rar"], 
					uploadUrl : "/dcnh/uploadattachement",
					uploadAsync : true,
					showPreview : false,
					maxFileSize : 1024 * 20,//附件最大的大小
					removeClass : "btn btn-danger",
					showUpload: true, //是否显示上传按钮
				});
				//绑定上传文件的事件回调
				initFileInputEvent();
				$.ajax({
					url : "/dcnh/getcategory",
					type : 'get',
					dataType : 'json',
					success : function(data0) {
						category = data0;
						//填充一级选择框
						$("#category").empty();
						$("#category").append("<option>----选择一级分类----</option>");
						for(var item in category) {
							$("#category").append("<option>" + item + "</option>");
						}
						
						//填充二级选择框
						$("#category").change(function() {
							$("#subcategory").empty();
							$("#subcategory").append("<option>----选择二级分类----</option>");
							var key = $('#category >option:selected').val();
							var subCategory = category[key];
							if(subCategory == null)
								return;
							for(var item0 in subCategory) {
								$("#subcategory").append("<option>" + subCategory[item0] + "</option>");
							}
						});
						
					}
				});
			}
		});
	}
	
	//绑定事件
	function initFileInputEvent() {
		$("#attachement_file").on("fileuploaded", function(event, data, previewId, index) {
			var rep = data.response;
			console.log(rep);
			if(rep == null || rep.code == "1") {
				modalAlert("附件上传失败，请重新尝试！" + rep.message);
				return;
			}
			//设置附件ID隐藏表单域
			$("#attachementId").val(rep.message);
			modalAlert("附件上传成功！");
		} );
		$("#attachement_file").on("fileuploaderror", function(event, data, msg) {
			$("#attachementId").val("");
			modalAlert(msg);
		} );
	}
	
	function addPrjct() {
		setAddPrjctPage();
	}
	
	function removeAddProjectPage() {
		$("#add_prjct_container").html("");
	}
	
	//增加项目成员输入框
	function addPrjectParticipators() {
		$("#addParticipatorBtn")
				.before(
						'<div class="input-group input-group-small div_prjct_participators"><div class="input-group-addon"><span class="glyphicon glyphicon-user"></span></div><input class="form-control" type="text" placeholder="项目成员" name="participators" required="required" /><div class="input-group-addon"><span class="glyphicon glyphicon-trash" onclick="deleteChoosenPrjectParticipators($(this));"></span></div></div>');
	}

	function deleteChoosenPrjectParticipators(span) {
		if (!confirm("确定删除此成员？"))
			return;
		$(span).parent().parent().remove();
	}
	
	//模态框
	function modalAlert(str) {
		$("#alertModal").modal("hide");
		$("#alertContent").html(str);
		$("#alertModal").modal("show");
	}

	//上传文件
	function uploadFile0() {
		console.log($("#mform").serializeArray());
		$("#attachement_file").fileinput("upload");
	}
</script>
</html>
