<div>
	<div class="row">
		<div class="col-xs-1">
			<button type="button" class="btn btn-success" onclick="setCreateaccountPage()">添加账户</button>	
		</div>
		<div class="col-xs-1">
			<button type="button" class="btn btn-success" onclick="showUserInfo('1')">查看已有账户</button>
		</div>
		<div class="col-xs-2">
			<select id="permission" class="selectpicker form-control" onchange="alert('aa');">
				<option value="校级管理员">校级管理员</option>
				<option value="专家账户">专家账户</option>
				<option value="系统管理员">系统管理员</option>
			</select> 
		</div>
		<div class="col-xs-2">
			<input id="schoolName" type="text" placeholder="请输入学校全称查找用户" class="form-control"></input>
		</div>
		<button type="button" class="btn btn-success" onclick="showUserInfo('2')">查找</button>
	</div>
	
	<div id="show"></div>
</div>