<style type="text/css">
input {
	width: 400px;
}
</style>
<div>

	<div style="padding: 100px 100px 10px;">
		<form class="bs-example bs-example-form" role="form">
			<div class="input-group" id="school_div">
				<span class="input-group-addon">学校</span> <input id="school" style="width: 400px;" type="text" class="form-control"
					placeholder="请填写学校全称"></input>
			</div>
			<br></br>
			<div class="input-group">
				<span class="input-group-addon">用户名</span> <input id="newUserName" style="width: 400px;" type="text" class="form-control"
					placeholder="用户名"></input>
			</div>
			<br></br>
			<div class="input-group ">
				<span class="input-group-addon">密码</span> <input id="password1" style="width: 400px;" type="password" class="form-control"
					placeholder="密码"></input>
			</div>
			<br></br>
			<div class="input-group">
				<span class="input-group-addon">确认密码</span> <input id="password2" style="width: 400px;" type="password" class="form-control"
					placeholder="确认密码"></input>
			</div>
			<br></br>

			<div id="category" v-for="mainCategory in mainCategoryList">
				<div class="input-group">
					<span class="input-group-addon">{{mainCategory}}</span> <input id="{{mainCategory}}" style="width: 400px;" type="text"
						onkeyup="this.value=this.value.replace(/\D/g,'')" onafterpaste="this.value=this.value.replace(/\D/g,'')" class="form-control"
						placeholder="请填写分配数目，默认是0"></input>
				</div>
				<br />
			</div>
			<div class="input-group">
				<button type="button" class="btn btn-info" onclick="addNewAccount()">创建账号</button>
			</div>
		</form>
	</div>
</div>