<!DOCTYPE html>
<html lang="en">
<head th:replace="dcnh/base::base_header(_, _, ~{::script[src]})">
<script type='text/javascript' src="/dcnh/js/superadmin/superadmin.js"></script>
<script type='text/javascript' src="/dcnh/js/superadmin/projectManage.js"></script>
<script type='text/javascript' src="/dcnh/js/superadmin/result.js"></script>
<script type='text/javascript' src="/dcnh/js/setuserinfopage.js"></script>
</head>
<body onload="onload()">
	<div id="basecontent">
		<div class="navbar navbar-inverse navbar-fixed-top">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
						aria-controls="navbar">
						<span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span
							class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="/dcnh"><b>辽宁省创新创业网</b></a>
				</div>
				<div id="navbar" class="navbar-collapse collapse">
					<ul class="nav navbar-nav navbar-right">

						<li><a id="userName" href="#"></a></li>
						<li><a href="/dcnh/logout">退出</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- <div class="container-fluid main-container"> -->

		<div class="container-fluid ">
			<div class="row ">
				<div class="col-sm-3 col-md-2 sidebar">
					<div class="menu-list" style="height: 820px">
						<a href="/dcnh/superadmin" class="menu-button-middle active"> <span class="glyphicon glyphicon-list ">&nbsp;账户管理</span></a> 
						<a href="#" onclick="showProjectpage()" class="menu-button-middle"> <span class="glyphicon glyphicon-th-large">&nbsp;项目管理</span></a> 
						<a href="#" onclick="showProjectManagepage()" class="menu-button-middle"> <span class="glyphicon glyphicon-tasks">&nbsp;项目分配</span></a>
						<a href="#" class="menu-button-middle" onclick="getResultSettingPage()"><span class="glyphicon glyphicon-export">&nbsp;结果导出</span></a>
						<a href="#" class="menu-button-middle" onClick="setUserinfoPage()"><span class="glyphicon glyphicon glyphicon-user">&nbsp;个人信息</span></a>
					</div>
				</div>

				<div id="contains" class="col-sm-9 col-md-10 sidebar">
					<div class="row">
						<div class="col-xs-1">
							<button type="button" class="btn btn-success" onclick="setCreateaccountPage()">添加账户</button>	
						</div>
						<div class="col-xs-1">
							<button type="button" class="btn btn-success" onclick="showUserInfo('1')">查看已有账户</button>
						</div>
						<div class="col-xs-2">
							<select id="permission" class="selectpicker form-control" onchange="permssionSelectChange($(this))">
								<option>校级管理员</option>
								<option>专家账户</option>
								<option>系统管理员</option>
							</select> 
						</div>
						<div class="col-xs-2">
							<input id="schoolName" type="text" placeholder="请输入学校全称查找用户" class="form-control"></input>
						</div>
						<button type="button" class="btn btn-success" onclick="showUserInfo('2')">查找</button>
					</div>
					<!-- 添加账户界面 -->
					<div id="show">
					</div>

				</div>

			</div>
		</div>
	</div>
	<div th:replace="~{dcnh/base::base_modal}">
	</div>
</body>
<script>
	function onload(){
		  $.ajax({
		      url: '/dcnh/getuserinfo',
		      type: 'get',
		      dataType: 'json',
		      success: function(data){
		    	  $("#userName").html(data.userName+" 欢迎您");
		      }
		    });
		}
</script>
</html>
